<h3>Horinaja version JQuery</h3> <p>
<div id="horinaja">
<div id="mascot"><img src="/image/ruby4.png" alt="code4" /></div>
<div id="horinaja">
	<div id="demo" class="horinaja">
			<ul>
				<li class="ho_1"><img src="/image/ruby1.png" alt="horinaja" /></li>
				<li class="ho_2"><img src="/image/ruby2.png" alt="code" /></li>
				<li class="ho_4"><img src="/image/ruby3.png" alt="code" /></li>
			</ul>
	</div>
</div>
</div>